MONGODB_CONNECTION=mongodb://localhost:27017
MONGODB_DATABASE=salesdb
JWT_SECRET=SUBSTITUA_POR_CHAVE_SEGURA_DE_32_CHARS_MINIMO
JWT_ISSUER=SalesSystem.Api
JWT_AUDIENCE=SalesSystem.Web
JWT_EXPIRES_MINUTES=60
API_URL=https://localhost:5001
WEB_URL=https://localhost:5002